@import "tailwindcss";

@theme {
  --color-backgroundPrimary: oklch(15.35% 0.065 265.58);
  --color-foregroundPrimary: oklch(87.36% 0.055 280.7);
  --color-linePrimary: oklch(94.12% 0.026 281.14);
  --color-highlight: oklch(63.14% 0.174 273.08);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 20, 20, 20;
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.rjsf-field {
  > fieldset {
    @apply space-y-1;
  }

  .control-label {
    @apply text-white mx-1;
  }

  .form-control {
    width: 3em;
    border-radius: 0.25rem;
  }
}

.form-group.rjsf-field.rjsf-field-integer {
  @apply flex flex-row items-center;
}
